---
layout: default
title: Home
exclude: true
custom_css: carousel
custom_js: [bootstrap.min, feedek, feed]
---

<span class="tagline"><p>Neatline allows scholars, students, and curators to tell stories with maps and timelines. As a suite of add-on tools for Omeka, it opens new possibilities for hand-crafted, interactive spatial and temporal interpretation. <a href="http://omeka.org/add-ons/plugins/neatline/">Download now!</a></p></span>

{% include carousel.html %}

{% include plugins.html %}

{% include updates.html %}
