@mixin links ($link, $visit, $hover, $active, $focus) {
  a {
    color: $link;
    text-decoration: none;

    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
      text-decoration: underline;
    }
    &:active {
      color: $active;
    }
    &:focus {
      color: $focus;
    }
  }
}

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
