@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display:table;
    width:100%;
  }
}

@mixin links ($link, $visit, $hover, $active, $focus) {
  a {
    color: $link;
    text-decoration: none;

    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;
      text-decoration: underline;
    }
    &:active {
      color: $active;
    }
    &:focus {
      color: $focus;
    }
  }
}
