
@media screen {

  body {
    background-color: $off-white;
  }

  header {
    border-bottom: 1px solid $grey-color-light;
  }

  nav {

    li {
      border-top: 1px solid $grey-color-light;

      @include breakpoint($tablet) {
        border-top: 0;
      }

      @include breakpoint($desktop) {
        border-top: 0;
      }
    }
  }

  #splash-carousel {
    margin-bottom: $spacing-unit*2;
  }

  #plugins {
    border-top: 1px solid $grey-color-light;
    margin-top: $spacing-unit/2;
    padding-bottom: $spacing-unit*2;
    padding-top: $spacing-unit/2;

    h1 {
      text-align: center;
      padding-top: 0;
    }

  }

  #updates {
    border-top: 1px solid $grey-color-light;
    background-image: url(../images/textures/subtle_freckles.png);
    padding-top: $spacing-unit/2;
    margin-bottom: $spacing-unit;

    h1 {
      padding-top: 0;
      text-align: center;
    }

    #twitter {
      margin-top: $spacing-unit;
    }



  }

  footer {
    color: $off-white;
    // use rgba to soften contrast a bit
    color: rgba($off-white, .9);
    background-image: url(../images/textures/chalkboard.jpg);
    border-top: 1px solid $grey-color-light;

    #slab-logo {
      height: 46px;
      @include breakpoint($tablet) {
        height: 60px;
      }
    }

  }

  .exhibit {

    figure {
      margin-right: 0;
      margin-left: 0;
    }

  }

  .demo {
    min-height: 420px !important;
  }

@import "links";
}
