
@media screen {

  .site-header {
    padding-top: $spacing-unit/2;
    padding-bottom: $spacing-unit/2;
  }

  .nav-toggle {
    // font-size: $base-font-size * 1.2;
    // color: $purple-color;
  }

  nav {

    li {
      border-top: 1px solid $grey-color-light;

      @include breakpoint($tablet) {
        border-top: 0;
      }

      @include breakpoint($desktop) {
        border-top: 0;
      }
    }
  }

  #plugins {
    margin-top: $spacing-unit;
    border-top: 1px solid $grey-color-light;
    // background-color: #1A3B28;
    // color: white;

  }

  #updates {
    margin-top: $spacing-unit;
    border-top: 1px solid $grey-color-light;

    #feed {
      padding-top: $spacing-unit;

      h2 {
        margin-top: 0;
      }
    }

    #twitter {
      padding-top: $spacing-unit;
    }
  }

  footer {
    border-top: 1px solid $grey-color-light;
    // background-color: #5CBA85;
  }

@import "links";
}
