
@media screen {

  .site-header {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .nav-toggle {
    font-size: $base-font-size * 1.2;
    color: $purple-color;
  }

  nav {

    li {
      color: $purple-color;
    }

  }
  
@import "links";
}
