// our variables
// $base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-family: "Crimson Text", Garamond, Georgia, serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$purple-color:     #5a3c6e;

$off-white: #f9f9f9;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$text-color-white: white;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Link variables
$link-color:         $purple-color;
$link-hover-color:   darken($link-color, 10%);
$link-active-color:  $purple-color;
$link-visited-color: $link-color;
$link-focus-color:   $link-hover-color;

// Susy variables
$susy: (
  columns: 12,
  gutters: .25,
  global-box-sizing: border-box,
);

// Breakpoints
$largephone: 480px;
$tablet: 768px;
$desktop: 1025px;
